body {
  background-image: url(https://raw.githubusercontent.com/450000/450000.github.io/master/images/pozadi.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(202, 228, 204);
}
article {
  margin-bottom: 20px;
  padding: 1px 15px 15px 15px;
  border-radius: 10px;
  background-color: rgb(202, 228, 204);
  
}
footer {
  background-color: rgb(202, 228, 204);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 60px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}
div.wrapper-footer {
  background-color: rgb(202, 228, 204);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 60px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li {
  display: inline;
}
