body {
  background-image: url(https://raw.githubusercontent.com/450000/450000.github.io/master/images/pozadi.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}
#wrapper {
   min-height:100%;
   position:relative;
}
article {
  margin-bottom: 20px;
  padding: 1px 15px 15px 15px;
  border-radius: 10px;
  background-color: rgb(202, 228, 204);
  
}
footer {
  background-color: rgb(202, 228, 204);
}
div.wrapper-footer {
  background-color: rgb(202, 228, 204);
}
