---
layout: default
---
<html>
  <head>
    <style>
      body {
  background-image: url(https://raw.githubusercontent.com/450000/450000.github.io/master/images/pozadi.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}
article {
  margin-bottom: 20px;
  padding: 1px 15px 15px 15px;
  border-radius: 10px;
  background-color: rgb(202, 228, 204);
}
    </style>
  </head>
  <body>

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>
</body>
</html>
